<div class="container">
  <div class="row mt-5">
    <div class="col-sm-6 mb-5">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Special Features</h5>
          <p class="card-text">
            We make you speak quality English in just 90 hours (spread over to a
            period of 03 months.). A time to proven system being successfully
            used since v2016.
          </p>
          <a href="#" class="btn btn-primary">OUR COURSES</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Special FRANCHISE ENQUIRY</h5>
          <p class="card-text mb-3">
            With supporting text below as a natural lead-in to additional
            content.
          </p>
          <br />
          <br />
          <a href="#" class="btn btn-primary">FRANCHISE ENQUIRY</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 mt-5">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">STUDY CENTERS</h5>
          <p class="card-text">
            New American Indo English Lawn H.O Opposite Thana Dhakkhin Tola,
            Mirzahadi Pura Mau
          </p>
          <a href="#" class="btn btn-primary">STUDY CENTERS</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 mt-5">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">AIEL GALLERY</h5>
          <p class="card-text">Coming Soon ......</p>
          <a href="#" class="btn btn-primary">AIEL GALLERY</a>
        </div>
      </div>
    </div>
  </div>
</div>
