<div class="row">
  <div class="col-md-12 mt-5">
    <div class="text-center">
      <h2 class="text-center text-danger">
        Welcome to New American Indo English Lawn Institute Of English Langauge
        Pvt Ltd
      </h2>
    </div>
  </div>
</div>

<div class="container mt-5 shadow p-3 mb-5 bg-white rounded">
  <div class="row">
    <div class="col-5">
      <img src="../americana.png" class="d-block w-100" alt="..." />
    </div>
    <div class="col-md-7 details">
      <div>
        <p>
          New American Indo English Lawn Institute of English Language (New
          AIEL) is a group of people who are pioneers in the field of English
          Speaking.
        </p>
        <br />
        <br />
        Our Success Story goes back to 2015, the year we started in MAU. Within
        a decade our success has not only covered U.P n . but it has traveled a
        long way and spread over to whole of the northern India.
      </div>
    </div>
  </div>
</div>

<div class="row shadow p-3 mb-5 bg-white rounded">
  <div class="col-md-12 ml-5 mr-5 text-center text-justify">
    <div>
      <h1 class="text-center text-danger">न्यू ऐल ही क्यों?</h1>
      <div class="ml-4 text-center">
        <p>
          टीचर अंग्रेज़ी में बोलती हैं, मगर मुझे कुछ भी समझ में नहीं आता......
          अंग्रेज़ी ही मुझे समझ में नहीं आती तो बाकी के विषय कैसे समझ पाऊँगा ?
          घर पर मम्मी-पापा को ज़्यादा अंग्रेज़ी नहीं आती शब्द भी बड़े-2 हैं, जो
          आसानी से ध्यान में रहते ही नहीं.. .क्या करू.... .? क्या आप ने कभी
          हिन्दी का ट्यूशन लिया है ?? नहीं न!! अंग्रेजी बोलना सीख लीजिये,
          अंग्रेज़ी के ट्यूशन की ज़रूरत हमेशा के लिय खत्म और शुरू हो जायेगा
          कम्पयूटर, इन्टरनेट, मोबाइल फोन, टेलीविज़न, लाइब्रेरी, सेमीनार, बुक
          फेयर जैसे अनेको ज्ञान के स्त्रोतों से सीखने का सिलसिला और खत्म हो
          जायेगी, आप की अपने अध्यापक पर पूरी निर्भरता |
        </p>
      </div>
    </div>
  </div>
</div>
