<div class="row">
  <div class="col-md-12 mt-5">
    <div class="text-center">
      <h2 class="text-center">
        Welcome to American Institute Of English Langauge Pvt Ltd
      </h2>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-5">
      <img src="../americana.png" class="d-block w-100" alt="..." />
    </div>
    <div class="col-md-7">
      <div>
        <p>
          American Institute of English Language (AIEL) is a group of people who
          are pioneers in the field of English Speaking.
        </p>
        <br />
        <br />
        Our Success Story goes back to 1991, the year we started in Meerut.
        Within a decade our success has not only covered U.P n . but it has
        traveled a long way and spread over to whole of the northern India.
      </div>
    </div>
  </div>
</div>
