<div class="row">
  <div class="col-md-12 mt-5">
    <div class="text-center">
      <h2 class="text-center">DIRECTOR'S MESSSAGE</h2>
    </div>
  </div>
</div>
<hr />

<div class="container mt-5 mb-5 bg-light">
  <div class="row">
    <div class="col-4">
      <img src="../atiqesir.JPG" class="d-block w-100" alt="..." />
      <p>Dr. Atique Sir (M.D.)</p>
    </div>
    <div class="col-md-8">
      <div>
        <br />
        <p>
          I personally thank you for manifesting interest in AIEL`S
          revolutionary concept of English teaching.
        </p>
        <br />

        Your decision to learn English through us is a smart step in the
        direction. You will appreciate that, whether you are serviceman,
        professional , housewife, businessman , sales representative , media
        person , student preparing for MEDIA/CALL CENTRES/IELTS/TOEFL or going
        abroad your interaction with.....
      </div>
    </div>
  </div>
</div>
