<div class="row">
  <div class="col-md-12 mt-5">
    <div class="text-center">
      <h2 class="text-center" style="color: #ec338f">DIRECTOR'S MESSSAGE</h2>
    </div>
  </div>
</div>
<hr />

<div class="container mt-2 mb-5 bg-light">
  <div class="row">
    <div class="col-lg-4 col-sm-12">
      <img src="../atiqesir.JPG" class="w-100" alt="..." />
      <p>Dr. Atique Sir (M.D.)</p>
    </div>
    <div class="col-md-8 directer">
      <div>
        <br />
        <p>
          I personally thank you for manifesting interest in AIEL`S
          revolutionary concept of English teaching.
        </p>
        <br />

        Welcome to NEW AIEL Dear Reader, If you are a House Maker, Businessman,
        Sales Rep, Medi Person, Student, Teacher , preparing for competition or
        TOFEL going abroad etc. then think. We have a time proven system.
        <br />
        <br />
        Do you know how to respond in a right manner if some body says, "May I
        take my leave, Sorry to have bothered you, So kind of
        you..............etc?"
        <br />
        <br />
        Do you know the difference between American & British English. As both
        are appreciated and commonly spoken in India? Do you have fluency in
        English?
        <br />
        <br />
        Do you have a knack to lead the conversation at difficult stages also?
        if the answer goes to :No" We at NEW AEIL, would help you out. We are
        the pioneers in the field of English Speaking. OUR SALIENT FEATURES ARE
        FOLLOWING....
        <br />
        <br />
        (¡) The course at NEW AIEL, caters to your personalized needs A
        Systematic Approach.
        <br />
        <br />
        (ii) We ensure perfect retention of content-A psychological system.
        <br />
        <br />
        (¡¡¡) We provide you a complete library at no additional charge -just to
        enrichment of your knowledge. <br />
        <br />
        (iv) NEW AIEL provides you with precious chance to learn better
        communication, to enhance your personality through Game class , Mini
        Seminar , Mega Seminar, Presentation, Debate, Personality Development
        and Interview Classes. <br />
        <br />
        (v) LINGUA PHONE, OCTAPHONE PTA TAPES & VISUAL AIDS to help you speak
        quality english. A life long membership An unique opportunity to be in
        touch with NEW AIEL & English With Best Compliments from:
      </div>
    </div>
  </div>
</div>
