<!-- <div class="container m-0">
  <div class="row">
    <div class="col-md-10">
      <img src="../qulity.jpeg" class="d-block w-100" alt="..." />
    </div>
  </div> -->

  <nav class="navbar navbar-expand-lg navbar-light ">
    <div class="container-fluid">
      <a class="navbar-brand  " href="/">New American Indo English Lawn</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
          <a class="nav-link" href="#">About Us</a>
          <a class="nav-link" href="#">Our Cources</a>
          <a
            class="nav-link disabled"
            href="/about"
            tabindex="-1"
            aria-disabled="true"
            >Contact Us</a
          >
        </div>
      </div>
    </div>
  </nav>
</div>
