<div class="row bg-red>
  <div class="col-md-12 mt-5">
    <div class="text-center">
      <h2 class="text-center text-contet-justify"></h2>
    </div>
  </div>
</div>

<div class="container mt-3">
  <div class="row">
    <div class="col-12">
      <h3 style="color: cadetblue;">अमेरिकन ही क्यों ?</h3>
      <hr />
    </div>

    <div class="col-md-12 justify-content-between">
      <div>
        <p style="text-align: justify">
          प्रिय पाठको , घरेलू महिला हैं , व्यापारी हैं , प्रचार माध्यम से जुड़े
          हैं , विद्यार्थी हैं , किसी काम्पटीशन की तैयारी कर रहे हैं , IELTS या
          TOEFL तैयारी कर रहे हैं , कॉल सेंटर मैं जॉब चाहते हो तो सोचिये .....
          क्या आप जानते हैं अंग्रेजी के प्रभावशाली वाक्यों का कैसे जवाब दें ?
          क्या आप अमेरिकन व ब्रिटिश अंग्रेजी के बीच अंतर जानते हैं ? - अंग्रेजी
          भाषा के यह दोनों तरीके भारत में आमतौर पर प्रयोग किये जाते हैं ? क्या
          आप धारा प्रवाह अंग्रेजी बोल सकते हैं ? क्या आप में एक विशेष योग्यता
          हैं कि आप किसी भी परिस्थिती में वार्तालाप को बढा सके ? यदि आपका जवाब
          हैं - " नहीं " तो ऐल आपको इन समस्याओ से बाहर लाने का विश्वास दिलाता
          हैं ! अंग्रेजी बोलने के क्षेत्र में हम अग्रणीय हैं | हमारी सफलता की
          कहानी 1991 में मेंरठ से शुरू हुई | हमारा सौभाग्य है की हम इन विशेषताओ
          के साथ आपकी सेवा में है ऐल का कोर्स आपके व्यक्तितव से सम्बंधित सभी
          जरूरतों को पूरा करता हैं - व्यवस्थित पद्धति द्वारा ऐल में हम विश्वास
          दिलाते हैं पूरा कोर्स आपको स्वत: याद हो जाने का - मनोवैज्ञानिक पद्धति
          द्वारा ! ऐल देता हैं आपको एक सुव्यवस्थित पुस्तकालय बिना किसी अलग शुल्क
          के - आपके ज्ञान के पूर्ण विकास हेतु | ऐल आपको देता हैं एक सुनहरा अवसर
          आपके व्यक्तितव के विकास का , यहाँ पर समय समय पर आयोजित की जाने वाली
          सेमीनार , डिबेट व् पर्सनालिटी कक्षाओ द्वारा ! ऐल लिंग्वाफ़ोन ,
          ओक्टाफ़ोन , पी. टी.ए. टेप्स और विजुअल ऐड के माध्यम से आपको उत्तम
          गुणवत्ता वाली अंग्रेजी सीखने का अवसर देता हैं ! ऐल देता हैं आपको एक
          आजीवन फ्री सदयस्ता - एक विशेष अवसर ऐल व अंग्रेजी के संपर्क में रहने
          हेतु |
        </p>
        <br />
        <!-- <img src="../qulity.jpeg" alt="" /> -->
        <br>
        <hr>
      </div>
    </div>
  </div>
</div>
